<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onAddPost()" [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="title"
        type="text"
        formControlName="title"
        placeholder="Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter post title</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button (click)="filePicker.click()" type="button">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="imagePreview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        rows="4"
        name="content"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter post content</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>
