<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        [ngModel]="post?.title"
        name="title"
        type="text"
        required
        placeholder="Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        [ngModel]="post?.content"
        name="content"
        placeholder="Content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>
